<h3>Manage Users</h3>



<button
  class="nav-item nav-link-edit btnAddQ"
  mat-raised-button
  color="primary" (click)="openDialog('500ms','200ms')"
>
  Add User
</button>

<table mat-table #table [dataSource]="users" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

 <!-- Email Column -->
 <ng-container matColumnDef="Role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td *matCellDef="let element">
      <button mat-button color="primary" (click)="openDialog('500ms','200ms')">
        Edit
      </button> |
      <button mat-button color="warn" (click)="delete(element.userId)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>